.board.solved .board-header {
  background: #1b5e20;
}

.board.failed .board-header {
  background: #b71c1c;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 2em;
  margin-bottom: 0.5em;
  padding: 0 1em;

  background: #666;
  color: white;
  text-transform: uppercase;
}

.board-header > * {
  min-width: 5em;
}

.board-header-state {
  text-align: right;
}

.board-header-state .fa {
  font-size: 1.2em;
}

.table {
  display: flex;
  flex-direction: row;
}
